cryptography~=43.0.1
pip~=23.2.1
PyGithub~=2.4.0
PyJWT~=2.9.0
requests~=2.32.3
Deprecated~=1.2.14
urllib3~=2.2.3
typing_extensions~=4.12.2
certifi~=2024.8.30
idna~=3.10
pycparser~=2.22
wrapt~=1.16.0
python-dotenv~=1.0.1
marko~=2.1.2
cleantext~=1.1.4
pandas==2.2.3
demoji==1.1.0
flask~=3.0.3
transformers
torch
accelerate
datasets
evaluate
numpy
pandas
scikit-learn